.accordion {
	overflow: hidden;
	width: 500px;
	margin-bottom: 1rem;
}

.app-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem;
}

.heading {
	background-color: lightsalmon;
	border-radius: 4px;
	padding: 0.5rem;
	width: 100%;
	margin-bottom: 1rem;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: none;
}

.content {
	background-color: lightgray;
	border-radius: 4px;
	width: 100%;
	transition: max-height 0.3s ease-in-out; /* Smooth animation */
	overflow: hidden;
	max-height: 0; /* Default: collapsed */
}

.content > * {
	padding: 0.5rem;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

.content.expanded {
	max-height: 500px; /* Adjust based on expected content size */
}
.content.expanded > * {
	opacity: 1;
}

.heading span {
	transition: transform 0.3s ease-in-out;
	display: inline-block;
	transform-origin: center;
}

.heading span[data-expanded="true"] {
	transform: rotate(90deg);
}
