.accordion {
	overflow: hidden;
	width: 500px;
	margin-top: 40%;
}

.heading {
	background-color: lightsalmon;
	border-radius: 4px;
	padding: 0.5rem;
	width: 100%;
	margin-bottom: 1rem;
	cursor: pointer;
	display: flex;
	justify-content: center;
	gap: 5rem;
}

.content {
	background-color: lightgray;
	border-radius: 4px;
	width: 100%;
	transition: max-height 0.3s ease-in-out; /* Smooth animation */

	max-height: 0; /* Default: collapsed */
}

.content > * {
	padding: 0.5rem;
}

.content.expanded {
	transition: max-height 0.3s ease-in-out; /* Smooth animation */
	max-height: 500px; /* Adjust based on expected content size */
}

.heading span[data-expanded="true"] {
	transform: rotate(90deg);
	transition: transform 0.3s ease-in-out;
	display: inline-block;
	transform-origin: center;
}
