.accordion {
	overflow: hidden;
	width: 500px;
	margin-top: 40%;
}

.heading {
	background-color: lightsalmon;
	border-radius: 4px;
	padding: 0.5rem;
	margin-top: 2rem;
	width: 100%;
	margin-bottom: 2rem;
	cursor: pointer;
}

.content {
	background-color: lightgray;
	border-radius: 4px;
	width: 100%;
}

.content > * {
	padding: 0.5rem;
}
